#navbar form{
    margin-top: 0.5em;
    margin-right: 1%;
}

#img-header{
    margin-top: 5%;
    width: 100%;
}

#img-header img{
    width: 50%;
}

#puntReser{
    width: 30%;
}

#puntReserShow{
    margin-top: 1%;
}

#container{
    width: 100%;
}

.lista-preguntas{
    margin-top: 1%;
}
.respuesta{
    padding-bottom: 2%;
}

.puntajeCouch{
    margin-top: 2%;
}

#alert{
    margin-top: 1%;
    margin-right: 100%;
    text-align: center;
}

.inf_couch{
    margin-right: 100%;
    margin-bottom: 1%;
    padding-top: 1%;
}

/*#myCarousel{
    width: auto;
    height: 660px;
    max-height: 660px;
    overflow:hidden;
    align-content: center;
}*/
.item {
    height: 425px;
}

#buttons-tipo-couch{
    margin-top: 1%;
}

.carousel-inner > .item img {
    max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;

}
